{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <main class="container">
    <h1>{{ message }}</h1>
    <p>App is running on PHP 8.3, MySQL 8, and Nginx.</p>
  </main>
{% endblock %}
